# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# development stuff
logs/
*.swp
*.swo

# live site files and directories
actiereg/apps.dat
actiereg/settings.py
actiereg/urls.py 
actiereg/*/
!actiereg/_basic/
!actiereg/templates/
actiereg/templates/*/
!actiereg/templates/basic/
