# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# development stuff
logs/
*.swp
*.swo

# live site files and directories
actiereg/settings*
.coverage
static/admin
projdocs*
secret_key
