{% extends "base_site.html" %}

{% block branding %}<h1>ActieRegistratie | Start</h1>{% endblock %}

{% block content %}
{{msg|safe}}
<hr/>
{% if apps %}
  <h4>Kies een project:</h4>
  <div style="max-height: 600px; overflow: auto">
    <div>
      <div class="col_link">&nbsp;</div>
      <div class="col_stats">alle acties / gearchiveerd / open / in&nbsp;behandeling</div>
      <div class="clear">&nbsp;</div>
    </div>
    {% for app in apps %}
      <div>
        <div class="col_link">
          <a href="/{{app.root}}/" title="{{app.name}}">{{app.name|capfirst}}: {{app.desc}}</a></div>
	<div class="col_stats">{{app.alle}} / {{ app.arch }} / {{app.open}} / {% if app.active > 0 %}<b>{% endif %} {{app.active}} {% if app.active > 0 %}</b>{% endif %}</div>
        <div class="clear">&nbsp;</div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <h4>Nog geen projecten aangemaakt</h4>
{% endif %}
<hr/>
{% if user.is_staff %}
  <a href="/new/" title="nieuw"><h6>Maak een nieuw project aan</h6></a>
{% endif %}
{% endblock %}
