{% extends "base_site.html" %}

{% block branding %}<h1>ActieRegistratie | Nieuw project opvoeren</h1>{% endblock %}

{% block content %}
<form action="/add/" method="post">{% csrf_token %}
<table>
<tr><th>project naam: </th>
    <td><input type="text" name="name" value="" size="32"/></td></tr>
<tr><th>korte beschrijving: </th>
    <td><input type="text" name="desc" value="" size="80"/></td></tr>
<tr><td colspan="2">
    <input type="submit" value="opvoeren"/>
    <a href="/" title="back"><input type="button" value="terug"/></a>
</td></tr>
</table>
{% endblock %}
