{% extends "base_site.html" %}
{% block extrastyle %}<style>
input, h3 {
	display: inline;
}
</style> {% endblock %}

{% block branding %}<h1>ActieRegistratie | Nieuw project opvoeren</h1>{% endblock %}

{% block content %}
<form action="/add/" method="post">{% csrf_token %}
  <div height=10px>&nbsp;</div> 
  <div>
    <div>
      <div class="col_title">Project naam: </div>
      <div class="col_enter"><input type="text" name="name" value="" size="32"/></div>
      <div class="clear">&nbsp;</div>
    </div>
    <div>
      <div class="col_title">Korte beschrijving: </div>
      <div class="col_enter"><input type="text" name="desc" value="" size="80"/></div>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
  <div height=10px>&nbsp;</div> 
  <div>
    <div class="col_user">
      <h3>Selecteer alvast (een) eerste admin(s) voor dit project</h3>
      <div>
        <select name="admin" multiple="multiple" size="6">
          <option value="0">-- choose one or more --</option>
          {% for usr in all_users %}
              <option value="{{ usr.id }}">{{ usr }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div height=10px>&nbsp;</div> 
  <div>
    <div class="col_user">
      <h3>Selecteer alvast (een) eerste bewerker(s) voor dit project</h3>
      <div>
        <select name="user" multiple="multiple" size="6">
          <option value="0">-- choose one or more --</option>
          {% for usr in all_users %}
              <option value="{{ usr.id }}">{{ usr }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div height=10px>&nbsp;</div> 
  <div>
    <input type="submit" value="opvoeren"/>
    <a href="/" title="back"><input type="button" value="terug"/></a>
  </div>
</form>
{% endblock %}
