{% extends "base_site.html" %}
{% load i18n %}{% load static %}
{% load extratags %}
{% block style %} <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="{% static 'actiereg.css' %}" />
{% endblock %}
{% block extrahead %}{% endblock %}
{% block title %} ActieReg | {{name|capfirst}}: {{ title}}{{ page_titel }}{% endblock %}
{% block branding %}
<h1 id="site-name">{{branding|escape}}{% trans 'ActieReg ' %} | {{title}}{{page_titel}}</h1>
{% endblock %}
{% block nav-global %}{{menu}} {% endblock %}
{% block breadcrumbs %}
{% for x in crumbs %}
&rsaquo; <a href="{{x.0}}" title="{{x.2}}">{{x.1}}</a>
{% endfor %}
{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
<div class="col_all">
    {%if message %}<span style="color: red"> {{ message }}</span>{% else %}{{msg|safe}}
    {% endif %}</div><div class="clear">&nbsp;</div>
<div class="col_item"><a href="/">Home</a></div>
{% for page in pages %}
    <div class="col_item">
        {% if forloop.first or actie %}
            <a href="/{{root}}/{% if actie and not forloop.first%}{{actie.id}}/{%endif%}{{page.link}}/">
        {%endif%}
            {% if page.title|upper == page_titel|upper %}<div class="hl">{% endif %}
                {{page.title}}
            {% if page.title|upper == page_titel|upper %}</div>{% endif %}
            {% if forloop.first or actie %}</a>{%endif%}</div>
    {% endfor%}<div class="clear">&nbsp;</div>
{% if actie %}
<!--    <div class="col_itall ttl">{{actie.about|capfirst}}: {{actie.title|trim_at:80}} </div>
<div class="clear">&nbsp;</div>{% endif %} -->
    <div class="col_itall">
    {% block content-data %} {{ content }} {% endblock %}
    </div>
{% endblock %}
