{% extends "tracker/base_site.html" %}
{% block branding %}<h1>{{name|capfirst}} | {{title}}</h1>{% endblock %}
{% block content-data %}
<form action="/{{root}}/setorder/" method="post">{% csrf_token %}
<div class="head col_ordh">volgorde</div>
<div class="head col_fld">veld</div>
<div class="head col_dir">richting</div>
<div class="clear"></div>
{% for sorter in sorters %}
<div class="col_ord">{{forloop.counter|rjust:"2"}}.</div>
<div class="col_fld"><select name="field{{forloop.counter}}">
    <option value="">(geen)</option>
    {% for field,name in fields %}
        <option {% if field == sorter.veldnm %}selected="selected"{% endif %} >{{name}}
        </option>{% endfor %}
    </select></div>
<div class="col_dir"><input name="order{{forloop.counter}}" type="radio" value="asc"
        {% if sorter %}{% if sorter.richting == "asc" %}checked="checked"{% endif %}
            {%else %}checked="checked"{% endif %}>
        Oplopend</input>
    <input name="order{{forloop.counter}}" type="radio" value="desc"
        {% if sorter %}{% if sorter.richting == "desc" %}checked="checked"{% endif %}
            {% endif %}>
        Aflopend</input></div>
<div class="clear"></div>
{% endfor %}
<div style="text-align: center; width: 660px"><input type="submit" value="OK"/>
    <a href="/{{root}}/"><input type="button" value="Cancel"/></a><div>
</form>
{% endblock %}
