{% extends "tracker/base_site.html" %}
{% block branding %}<h1>{{name|capfirst}} | {{title}}</h1>{% endblock %}
{% block content-data %}
<form action="/{{root}}/results/" method="post">{% csrf_token %}
    <div>Zoek naar: <input name="search" type="text" value="{{search}}"/>
    <input type="submit" value="Uitvoeren"/><div>
</form>
<hr>
{% if results %}
  <table>
    <thead><tr><th>actie</th><th>gevonden in</th><th>tekst</th></tr></thead>
    <tbody>
    {% for actie, loc, text in results %}
    <tr>
	    <td><a href="/{{ actie.id }}">{{ actie.nummer }}</a></td>
	    <td>{{ loc }}</td>
	    <td>{{ text }}</td>
    </tr>
    {% endfor %}
    </tbody></table>
{% else %}
    {% if search %}No results {% endif %}
{% endif %}
{% endblock %}
